$orange: #FD7E23;
@import "../common/utils.scss";

#bottom-bar {
  position: fixed;
  bottom: 0;
  //border-top: 1px solid #DFDFDF;
}

#cart-item-container{
  background-color: #fff;
  border-top: 1px solid #E8E8E8;
}

#cart-header{
  height: 54px;
  @include flex-center__vertical;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 16px;
  font-size: 24px;

  & > div {
    @include flex-center__vertical;
  }
}

#cart-item-list {
  max-height: 40vh;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.cart-item {
  font-size: 24px;
  height: 88px;
  @include flex-center__vertical;
  justify-content: space-between;
  padding: 0 20px;

  & > div:nth-of-type(1) {
    width: 420px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;

    & > div:first-of-type {
      font-size: 30px;
      color: rgb(0, 0, 0);
    }

    & > div:last-of-type {
      margin-top: 10px;
      font-size: 22px;
      color: rgb(169, 169, 169);
    }
  }

  & > div:nth-of-type(2) {
    width: 170px;
    font-size: 30px;
    color: rgb(0, 0, 0);
  }

  & > div:nth-of-type(3) {
    width: 120px;
  }
}

#icon__trash{
  display: inline-block;
  width: 22px;
  height: 28px;
  font-size: 24px;
  background-size: 100% 100%;
  background-image: url('../../images/icon-trash.png');
  background-repeat: no-repeat;
  margin-right: 10px;
}

#cart-bar {
  opacity: 0.999;
  height: 86px;
  width: 100%;
  @include flex-center__vertical;
  justify-content: space-between;
}

.cart-bar-enter-active, .cart-bar-leave-active {
  transition: transform 0.3s ease-out;
}

.cart-bar-enter, .cart-bar-leave-to {
  transform: translate3d(0, 100%, 0);
}

#price-bar{
  width: 550px;
  background-color: white;
  @include flex-center__vertical;
}

#cart{
  width: 92px;
  height: 86px;
  margin-left: 26px;
  margin-right: 16px;
  position: relative;
  @include flex-center__vertical;
}

#icon__bracket{
  display: inline-block;
  width: 58px;
  height: 46px;
  background-size: 100% 100%;
  background-image: url('../../images/icon-bracket.png');
  background-repeat: no-repeat;
}

#dish-count{
  display: block;
  position: absolute;
  top:4px;
  right: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: $orange;
  font-size: 14px;
}

#price {
  font-size: 30px;
  font-weight: bold;
}

#checkout-btn{
  font-size: 36px;
  width: 200px;
  height: 86px;
  line-height: 86px;
  text-align: center;
  background-color: $orange;
  color: white;
}


.btn-group {
  @include flex-center__vertical;
  font-size: 20px;

  & > span {
    margin: 0 10px;
  }
}

.btn {
  height: 44px;
  width: 44px;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.minus {
    background-image: url('../../images/btn-minus.png');

    &.disabled {
      background-image: url('../../images/btn-minus__disabled.png');
    }
  }

  &.plus {
    background-image: url('../../images/btn-plus.png');
  }
}
