$page-bg-color: #fff;
$input-title-font-size: 18px;
$input-item-font-size: 16px;

$span-text-black: #000;
$span-text-gray: #999;
$link-blue: #419BF9;
$dot-color-blue: #419BF9;

$app-bg-color: rgb(240,240,240);

$btn-submit-bg-color: #419BF9;
$btn-submit-text-color: #fff;

$footer-bar-border-color: rgba(0,0,0,0.2);